.page__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.page__btn {
  padding: 10px;
  border: 1px solid cadetblue;
  cursor: pointer;
  transition: 0.5s all;
}

.current__page {
  background-color: cadetblue;
  color: wheat;
  transition: 0.5s all;
}
