* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  margin: 15px auto;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mt30 {
  margin-top: 30px;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
}

.header {
  text-align: center;
  font-size: 1.5em;
  color: cadetblue;
}

.header__post {
  margin-top: 30px;
  text-align: left;
  font-size: 2em;
  font-weight: 200;
  color: cadetblue
}

.error {
  color: red;
}

.post {
  margin: 15px auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  border: 2px solid cadetblue;
  border-radius: 5px;
}

.post__preview {
  margin-top: 15px;
  color: cadetblue;
  font-weight: 400;

}

.post__content {
  margin-top: 15px;
  text-align: right;
  font-size: 1.5em;
  font-weight: 500;
  color: cadetblue
}

.post__btns {
  display: flex;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
