.loadingWrapper {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textLoading {
  margin-top: 25px;
  color: cadetblue;
  font-size: 1.5em;
  text-align: center;
}

.myLoading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px dashed cadetblue;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }

  to {
    transform: rotate(360deg) scale(1.4);
  }
}
