.navbar {
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.navbar__menu {
  height: 50px;
  display: flex;
  align-items: center;
}

.navbar__menu > li {
  list-style-type: none;
}

.navbar__menu > li > a {
  text-decoration: none;
  margin-left: 15px;
}