.myModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: none;
}

.myModalContent {
  min-width: 250px;
  padding: 25px;
  background: whitesmoke;
  border-radius: 15px;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
